language: java
# safelist
branches:
  only:
  - master
script:
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then bash ./source/src/travis/run.sh; else bash ./source/src/travis/run_on_pull_request.sh; fi'
