<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
                           http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
    <bean id="properties" class="org.cerberus.config.PropertiesResolver">
        <property name="ignoreUnresolvablePlaceholders" value="false"/>
        <property name="order" value="1"/>
    </bean>

<!--    <bean id="seleniumService" class="org.cerberus.service.engine.impl.SeleniumService" scope="request">
        <aop:scoped-proxy proxy-target-class="true"/>
    </bean>

    <bean id="runTestCaseService" class="org.cerberus.service.engine.impl.RunTestCaseService" scope="prototype">
        <aop:scoped-proxy proxy-target-class="true"/>
    </bean>-->

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
        <property name="jndiName" value="jdbc/cerberus${org.cerberus.environment}"/>
        <!--<property name="jndiName" value="jdbc/cerberusMySQL"/>-->
        <property name="resourceRef" value="true"/>
    </bean>
    
    <context:annotation-config/>

    <context:component-scan base-package="org.cerberus.*">
        <context:exclude-filter type="regex" expression="org.cerberus.srv.cerberus.*"/>
    </context:component-scan>
    
    <task:annotation-driven/>

    <jpa:repositories base-package="org.cerberus.crud.repository"
                      base-class="org.cerberus.api.repository.CerberusRepositoryImpl"/>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="packagesToScan" value="org.cerberus.crud.entity" />
        <property name="dataSource" ref="dataSource" />

        <property name="persistenceProvider">
            <bean class="org.eclipse.persistence.jpa.PersistenceProvider"/>
        </property>

        <property name="jpaPropertyMap">
            <map>
                <entry key="jpaVendorAdapter" value="jpaAdapter"/>
                <entry key="eclipselink.weaving" value="false"/>
            </map>
        </property>
    </bean>

    <bean id="jpaAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
        <!--
        <property name="showSql" value="true"/>
        <property name="generateDdl" value="true"/>
        -->
        <property name="database" value="MYSQL"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>

