<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
    <bean id="properties" class="org.cerberus.config.PropertiesResolver">
        <property name="ignoreUnresolvablePlaceholders" value="false"/>
        <property name="order" value="1"/>
    </bean>

<!--    <bean id="seleniumService" class="org.cerberus.service.engine.impl.SeleniumService" scope="request">
        <aop:scoped-proxy proxy-target-class="true"/>
    </bean>

    <bean id="runTestCaseService" class="org.cerberus.service.engine.impl.RunTestCaseService" scope="prototype">
        <aop:scoped-proxy proxy-target-class="true"/>
    </bean>-->

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" scope="singleton">
        <property name="jndiName" value="jdbc/cerberus${org.cerberus.environment}"/>
        <!--<property name="jndiName" value="jdbc/cerberusMySQL"/>-->
        <property name="resourceRef" value="true"/>
    </bean>

    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="classpath:/db/changelog/master.xml"/>
    </bean>

    <context:annotation-config/>

    <context:component-scan base-package="org.cerberus.*">
        <context:exclude-filter type="regex" expression="org.cerberus.srv.cerberus.*"/>
    </context:component-scan>
    
    <task:annotation-driven/>

</beans>

