<?xml version="1.0" encoding="UTF-8"?>
<!--

    Cerberus Copyright (C) 2013 - 2025 cerberustesting
    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

    This file is part of Cerberus.

    Cerberus is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Cerberus is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Cerberus.  If not, see <http://www.gnu.org/licenses/>.

-->
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>Homepage.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>400</error-code>
        <location>/ErrorPages/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ErrorPages/Error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPages/Error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorPages/Error.jsp</location>
    </error-page>

</web-app>
