<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>Homepage</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>com.redcats.tst.servlet.guiPages.Homepage</servlet-class>
    </servlet>
    <servlet>
        <display-name>RunTestCase</display-name>
        <servlet-name>RunTestCase</servlet-name>
        <servlet-class>com.redcats.tst.servlet.publi.RunTestCase</servlet-class>
    </servlet>
    <servlet>
        <display-name>SaveStatistic</display-name>
        <servlet-name>SaveStatistic</servlet-name>
        <servlet-class>com.redcats.tst.servlet.engine.SaveStatistic</servlet-class>
    </servlet>
    <servlet>
        <display-name>ListOfTestcases</display-name>
        <servlet-name>GetTestCaseList</servlet-name>
        <servlet-class>com.redcats.tst.servlet.testCase.GetTestCaseList</servlet-class>
    </servlet>
    <servlet>
        <display-name>TestcaseInformation</display-name>
        <servlet-name>GetTestCase</servlet-name>
        <servlet-class>com.redcats.tst.servlet.testCase.GetTestCase</servlet-class>
    </servlet>
    <servlet>
        <display-name>DocumentationField</display-name>
        <servlet-name>DocumentationField</servlet-name>
        <servlet-class>com.redcats.tst.servlet.documentation.DocumentationField</servlet-class>
    </servlet>
    <servlet>
        <display-name>GetApplicationList</display-name>
        <servlet-name>GetApplicationList</servlet-name>
        <servlet-class>com.redcats.tst.servlet.application.GetApplicationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importXML</servlet-name>
        <servlet-class>com.redcats.tst.refactor.ImportSeleniumIDE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importFile</servlet-name>
        <servlet-class>com.redcats.tst.refactor.importFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTest</servlet-name>
        <servlet-class>com.redcats.tst.refactor.TestcaseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTestCase1</servlet-name>
        <servlet-class>com.redcats.tst.refactor.UpdateTestCase1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTest</servlet-name>
        <servlet-class>com.redcats.tst.servlet.test.UpdateTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTest</servlet-name>
        <servlet-class>com.redcats.tst.servlet.test.DeleteTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultCI</servlet-name>
        <servlet-class>com.redcats.tst.servlet.publi.ResultCI</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>DuplicateTestCase</display-name>
        <servlet-name>DuplicateTestCase</servlet-name>
        <servlet-class>com.redcats.tst.servlet.testCase.DuplicateTestCase</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>UpdateTestCase</display-name>
        <servlet-name>UpdateTestCase</servlet-name>
        <servlet-class>com.redcats.tst.servlet.testCase.UpdateTestCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestcaseList</servlet-name>
        <servlet-class>com.redcats.tst.refactor.TestcaseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestcaseListGrid</servlet-name>
        <servlet-class>com.redcats.tst.refactor.TestcaseListGrid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProperties</servlet-name>
        <servlet-class>com.redcats.tst.refactor.UpdateProperties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTestCase</servlet-name>
        <servlet-class>com.redcats.tst.servlet.testCase.CreateTestCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>com.redcats.tst.servlet.user.GetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>com.redcats.tst.servlet.user.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.redcats.tst.servlet.user.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>com.redcats.tst.servlet.user.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPassword</servlet-name>
        <servlet-class>com.redcats.tst.servlet.user.ChangeUserPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTest</servlet-name>
        <servlet-class>com.redcats.tst.servlet.test.CreateTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTestCase</servlet-name>
        <servlet-class>com.redcats.tst.servlet.testCase.DeleteTestCase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTestCaseDetail</servlet-name>
        <servlet-class>com.redcats.tst.servlet.testCase.UpdateTestCaseDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportSeleniumIDE</servlet-name>
        <servlet-class>com.redcats.tst.refactor.ImportSeleniumIDE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TCEwwwDetail</servlet-name>
        <servlet-class>com.redcats.tst.refactor.TCEwwwDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateGraph</servlet-name>
        <servlet-class>com.redcats.tst.refactor.GenerateGraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestCaseActionExecutionDetail</servlet-name>
        <servlet-class>com.redcats.tst.refactor.TestCaseActionExecutionDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetConnectionPoolName</servlet-name>
        <servlet-class>com.redcats.tst.refactor.GetConnectionPoolName</servlet-class>
    </servlet>
    <servlet>
        <description>This Servlet is used to monitor from Nagios the number of execution performed for Performance monitoring.</description>
        <servlet-name>PerformanceMonitorGetNumberOfExecutions</servlet-name>
        <servlet-class>com.redcats.tst.servlet.publi.PerformanceMonitorGetNumberOfExecutions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetParameter</servlet-name>
        <servlet-class>com.redcats.tst.servlet.parameter.GetParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateParameter</servlet-name>
        <servlet-class>com.redcats.tst.servlet.parameter.UpdateParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInvariantList</servlet-name>
        <servlet-class>com.redcats.tst.servlet.invariant.GetInvariantList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetApplication</servlet-name>
        <servlet-class>com.redcats.tst.servlet.application.GetApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLogEvent</servlet-name>
        <servlet-class>com.redcats.tst.servlet.log.GetLogEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeployTypeList</servlet-name>
        <servlet-class>com.redcats.tst.servlet.application.GetDeployTypeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBuildRevisionParameter</servlet-name>
        <servlet-class>com.redcats.tst.servlet.environment.UpdateBuildRevisionParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApplicationAjax</servlet-name>
        <servlet-class>com.redcats.tst.servlet.application.UpdateApplication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RunTestCase</servlet-name>
        <url-pattern>/RunTestCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentationField</servlet-name>
        <url-pattern>/DocumentationField</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveStatistic</servlet-name>
        <url-pattern>/SaveStatistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApplicationList</servlet-name>
        <url-pattern>/GetApplicationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importXML</servlet-name>
        <url-pattern>/importXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importFile</servlet-name>
        <url-pattern>/importFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTest</servlet-name>
        <url-pattern>/DeleteTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTest</servlet-name>
        <url-pattern>/AddTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultCI</servlet-name>
        <url-pattern>/ResultCI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcaseList</servlet-name>
        <url-pattern>/TestcaseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcaseListGrid</servlet-name>
        <url-pattern>/TestcaseListGrid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProperties</servlet-name>
        <url-pattern>/UpdateProperties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTestCase</servlet-name>
        <url-pattern>/CreateTestCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/GetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPassword</servlet-name>
        <url-pattern>/ChangeUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTest</servlet-name>
        <url-pattern>/CreateTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTestCase</servlet-name>
        <url-pattern>/DeleteTestCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportSeleniumIDE</servlet-name>
        <url-pattern>/ImportSeleniumIDE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TCEwwwDetail</servlet-name>
        <url-pattern>/TCEwwwDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateGraph</servlet-name>
        <url-pattern>/GenerateGraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestCaseActionExecutionDetail</servlet-name>
        <url-pattern>/TestCaseActionExecutionDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetConnectionPoolName</servlet-name>
        <url-pattern>/GetConnectionPoolName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerformanceMonitorGetNumberOfExecutions</servlet-name>
        <url-pattern>/PerformanceMonitorGetNumberOfExecutions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateParameter</servlet-name>
        <url-pattern>/UpdateParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTest</servlet-name>
        <url-pattern>/UpdateTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DuplicateTestCase</servlet-name>
        <url-pattern>/DuplicateTestCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTestCase1</servlet-name>
        <url-pattern>/UpdateTestCase1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTestCase</servlet-name>
        <url-pattern>/UpdateTestCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTestCaseDetail</servlet-name>
        <url-pattern>/UpdateTestCaseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeployTypeList</servlet-name>
        <url-pattern>/GetDeployTypeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestCaseList</servlet-name>
        <url-pattern>/GetTestCaseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestCase</servlet-name>
        <url-pattern>/GetTestCase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetParameter</servlet-name>
        <url-pattern>/GetParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInvariantList</servlet-name>
        <url-pattern>/GetInvariantList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApplication</servlet-name>
        <url-pattern>/GetApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLogEvent</servlet-name>
        <url-pattern>/GetLogEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBuildRevisionParameter</servlet-name>
        <url-pattern>/UpdateBuildRevisionParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateApplicationAjax</servlet-name>
        <url-pattern>/UpdateApplicationAjax</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <!-- Start JAAS Configuration -->
    <security-constraint>
        <display-name>Admin Access can do everything on the system.</display-name>
        <web-resource-collection>
            <web-resource-name>Restricted</web-resource-name>
            <description>Restricted Access</description>
            <url-pattern>/Homepage</url-pattern>
            <url-pattern>/Homepage.jsp</url-pattern>
            <url-pattern>/Test.jsp</url-pattern>
            <url-pattern>/TestCase.jsp</url-pattern>
            <url-pattern>/RunTests.jsp</url-pattern>
            <url-pattern>/ResumeTests.jsp</url-pattern>
            <url-pattern>/ReportingExecution.jsp</url-pattern>
            <url-pattern>/ReportingExecutionTime.jsp</url-pattern>
            <url-pattern>/ExecutionDetail.jsp</url-pattern>
            <url-pattern>/ExecutionDetailList.jsp</url-pattern>
            <url-pattern>/DeleteTest</url-pattern>
            <url-pattern>/UpdateTestCase</url-pattern>
            <url-pattern>/AddTest</url-pattern>
            <url-pattern>/UpdateProperties</url-pattern>
            <url-pattern>/CreateTestCase</url-pattern>
            <url-pattern>/CreateTest</url-pattern>
            <url-pattern>/DeleteTestCase</url-pattern>
            <url-pattern>/UpdateComparativeInformation</url-pattern>
            <url-pattern>/UpdateTestCaseScript</url-pattern>
            <url-pattern>/ImportSeleniumIDE</url-pattern>
            <url-pattern>/UpdateTest</url-pattern>
            <url-pattern>/DuplicateTestCase</url-pattern>
            <url-pattern>/UpdateTestCase</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description>Administrator Access</description>
            <url-pattern>/LogViewer.jsp</url-pattern>
            <url-pattern>/UserManager.jsp</url-pattern>
            <url-pattern>/AddUser</url-pattern>
            <url-pattern>/UpdateUser</url-pattern>
            <url-pattern>/DeleteUser</url-pattern>
            <url-pattern>/LogsData</url-pattern>
            <url-pattern>/GetUsers</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Administrators</description>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>User Access</display-name>
        <web-resource-collection>
            <web-resource-name>Restricted</web-resource-name>
            <description>Restricted Access</description>
            <url-pattern>/Homepage</url-pattern>
            <url-pattern>/Homepage.jsp</url-pattern>
            <url-pattern>/Test.jsp</url-pattern>
            <url-pattern>/TestCase.jsp</url-pattern>
            <url-pattern>/RunTests.jsp</url-pattern>
            <url-pattern>/ResumeTests.jsp</url-pattern>
            <url-pattern>/ReportingExecution.jsp</url-pattern>
            <url-pattern>/ReportingExecutionTime.jsp</url-pattern>
            <url-pattern>/ExecutionDetail.jsp</url-pattern>
            <url-pattern>/ExecutionDetailList.jsp</url-pattern>
            <url-pattern>/UpdateTestCase</url-pattern>
            <url-pattern>/AddTest</url-pattern>
            <url-pattern>/UpdateProperties</url-pattern>
            <url-pattern>/CreateTestCase</url-pattern>
            <url-pattern>/UpdateComparativeInformation</url-pattern>
            <url-pattern>/UpdateTestCaseScript</url-pattern>
            <url-pattern>/ImportSeleniumIDE</url-pattern>
            <url-pattern>/UpdateTest</url-pattern>
            <url-pattern>/DuplicateTestCase</url-pattern>
            <url-pattern>/UpdateTestCase</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Users. Can access everything except a test creation (they can create test cases inside a test thought) and test or testcase delete.</description>
            <role-name>User</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Visitor Access</display-name>
        <web-resource-collection>
            <web-resource-name>Visitor</web-resource-name>
            <description>Visitor Access</description>
            <url-pattern>/Homepage</url-pattern>
            <url-pattern>/Homepage.jsp</url-pattern>
            <url-pattern>/Test.jsp</url-pattern>
            <url-pattern>/TestCase.jsp</url-pattern>
            <url-pattern>/ReportingExecution.jsp</url-pattern>
            <url-pattern>/ReportingExecutionTime.jsp</url-pattern>
            <url-pattern>/ExecutionDetail.jsp</url-pattern>
            <url-pattern>/ExecutionDetailList.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Visitors can only access jsp (no servlet to prevent modifications). Visitors cannot execute tests as well.</description>
            <role-name>Visitor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Integrator</display-name>
        <web-resource-collection>
            <web-resource-name>Restricted</web-resource-name>
            <description/>
            <url-pattern>/Homepage</url-pattern>
            <url-pattern>/Homepage.jsp</url-pattern>
            <url-pattern>/Test.jsp</url-pattern>
            <url-pattern>/TestCase.jsp</url-pattern>
            <url-pattern>/RunTests.jsp</url-pattern>
            <url-pattern>/ResumeTests.jsp</url-pattern>
            <url-pattern>/ReportingExecution.jsp</url-pattern>
            <url-pattern>/ReportingExecutionTime.jsp</url-pattern>
            <url-pattern>/ExecutionDetail.jsp</url-pattern>
            <url-pattern>/ExecutionDetailList.jsp</url-pattern>
            <url-pattern>/UpdateTestCase</url-pattern>
            <url-pattern>/AddTest</url-pattern>
            <url-pattern>/UpdateProperties</url-pattern>
            <url-pattern>/CreateTestCase</url-pattern>
            <url-pattern>/UpdateComparativeInformation</url-pattern>
            <url-pattern>/UpdateTestCaseScript</url-pattern>
            <url-pattern>/ImportSeleniumIDE</url-pattern>
            <url-pattern>/UpdateTest</url-pattern>
            <url-pattern>/DuplicateTestCase</url-pattern>
            <url-pattern>/UpdateTestCase</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Integrator</web-resource-name>
            <description/>
            <url-pattern>/Environment.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Integrator</description>
            <role-name>Integrator</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <!--        Default Realm defined on Cluster->Security
            <realm-name>securityCerberusQA</realm-name>-->
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/LoginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Administrators</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>Users</description>
        <role-name>User</role-name>
    </security-role>
    <security-role>
        <description>Visitor</description>
        <role-name>Visitor</role-name>
    </security-role>
    <security-role>
        <description>Integrator</description>
        <role-name>Integrator</role-name>
    </security-role>
    <!--End JAAS Configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>
