<?xml version="1.0" encoding="UTF-8"?>
<!--

    Cerberus Copyright (C) 2013 - 2025 cerberustesting
    DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.

    This file is part of Cerberus.

    Cerberus is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Cerberus is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Cerberus.  If not, see <http://www.gnu.org/licenses/>.

-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>Homepage.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>THUMBNAIL</param-name>
        <param-value>Thumbnailer?p=</param-value>
    </context-param>
    <context-param>
        <param-name>SHARED_DOCS</param-name>
        <param-value>Shared docs</param-value>
    </context-param>
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>org.cerberus.core.config.cerberus.CerberusConfiguration</param-value>
    </context-param>
    <servlet>
        <servlet-name>springrest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                org.cerberus.core.config.webmvc.WebMvcConfiguration
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springrest</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
    <error-page>
        <error-code>400</error-code>
        <location>/ErrorPages/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ErrorPages/Error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ErrorPages/Error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ErrorPages/Error.jsp</location>
    </error-page>
    <security-role>
        <description>Readonly access to any test and testcase.</description>
        <role-name>TestRO</role-name>
    </security-role>
    <security-role>
        <description>Write access to any test and testcase.</description>
        <role-name>Test</role-name>
    </security-role>
    <security-role>
        <description>Can Flag a step as library and modify existing Step Libraries.</description>
        <role-name>TestStepLibrary</role-name>
    </security-role>
    <security-role>
        <description>Delete access to any test and testcase.</description>
        <role-name>TestAdmin</role-name>
    </security-role>
    <security-role>
        <description>Execute testcase.</description>
        <role-name>RunTest</role-name>
    </security-role>
    <security-role>
        <description>Modify Labels.</description>
        <role-name>Label</role-name>
    </security-role>
    <security-role>
        <description>Full access to any Test Data.</description>
        <role-name>TestDataManager</role-name>
    </security-role>
    <security-role>
        <description>Readony access to any Envoronment data.</description>
        <role-name>IntegratorRO</role-name>
    </security-role>
    <security-role>
        <description>Write and delete access to any Envoronment data.</description>
        <role-name>Integrator</role-name>
    </security-role>
    <security-role>
        <description>Can activate a new Chain in an environment.</description>
        <role-name>IntegratorNewChain</role-name>
    </security-role>
    <security-role>
        <description>Can deploy a new Chain in an environment.
            ie : Can modify the build and revision for an environment.
        </description>
        <role-name>IntegratorDeploy</role-name>
    </security-role>
    <security-role>
        <description>Access to administration tools
            ie User management, parameter management, log viewer, database management.
        </description>
        <role-name>Administrator</role-name>
    </security-role>
    
    <security-constraint>
        <display-name>TestRO</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description>jsp</description>
            <url-pattern>/TestCaseExecution.jsp</url-pattern>
            <url-pattern>/TestCaseExecutionList.jsp</url-pattern>
            <url-pattern>/ReportingExecutionByTag.jsp</url-pattern>
            <url-pattern>/ReportingExecutionOverTime.jsp</url-pattern>
            <url-pattern>/ReportingCampaignOverTime.jsp</url-pattern>
            <url-pattern>/ReportingCampaignStatistics.jsp</url-pattern>
            <url-pattern>/TestCaseExecutionQueueList.jsp</url-pattern>
            <url-pattern>/Test.jsp</url-pattern>
            <url-pattern>/TestCaseScript.jsp</url-pattern>
            <url-pattern>/TestCaseList.jsp</url-pattern>
            <url-pattern>/CampaignList.jsp</url-pattern>
            <url-pattern>/SwaggerUI.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/ManageExecutionPool</url-pattern>
            <url-pattern>/ReadExecutionPool</url-pattern>
            <url-pattern>/ReadExecutionPools</url-pattern>
            <url-pattern>/GetTestCaseList</url-pattern>
            <url-pattern>/ReadTestCaseExecutionMedia</url-pattern>
            <url-pattern>/TestcaseList</url-pattern>
            <url-pattern>/GetDataForTestCaseSearch</url-pattern>
            <url-pattern>/TCEwwwDetail</url-pattern>
            <url-pattern>/GenerateGraph</url-pattern>
            <url-pattern>/TestCaseActionExecutionDetail</url-pattern>
            <url-pattern>/ExecutionPerBuildRevision</url-pattern>
            <url-pattern>/GetStepUsedAsLibraryInOtherTestCasePerApplication</url-pattern>
            <url-pattern>/ExportTestCase</url-pattern>
            <url-pattern>/FindTestImplementationStatusPerApplication</url-pattern>
            <url-pattern>/GetCountryForTestCase</url-pattern>
            <url-pattern>/GetPropertiesForTestCase</url-pattern>
            <url-pattern>/GetReport</url-pattern>
            <url-pattern>/GetStepInLibrary</url-pattern>
            <url-pattern>/ReadTestCase</url-pattern>
            <url-pattern>/ReadTest</url-pattern>
            <url-pattern>/ReadTestCaseStep</url-pattern>
            <url-pattern>/GetReportTest</url-pattern>
            <url-pattern>/ReadTestCaseExecutionByTag</url-pattern>
            <url-pattern>/ReadExecutionStat</url-pattern>
            <url-pattern>/ReadQueueStat</url-pattern>
            <url-pattern>/ReadTagStat</url-pattern>
            <url-pattern>/api/v3/api-docs</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>TestRO</description>
            <role-name>TestRO</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Test</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description>jsp</description>
            <url-pattern>/SqlLibrary.jsp</url-pattern>
            <url-pattern>/TestDataLibList.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/UpdateTestCase</url-pattern>
            <url-pattern>/UpdateTestCaseMass</url-pattern>
            <url-pattern>/CreateTestCaseCountry</url-pattern>
            <url-pattern>/DeleteTestCaseCountry</url-pattern>
            <url-pattern>/CalculatePropertyForTestCase</url-pattern>
            <url-pattern>/UpdateProperties</url-pattern>
            <url-pattern>/CreateTestCase</url-pattern>
            <url-pattern>/CreateTestCaseLabel</url-pattern>
            <url-pattern>/DeleteTestCaseLabel</url-pattern>
            <url-pattern>/ImportSeleniumIDE</url-pattern>
            <url-pattern>/ImportTestCaseStep</url-pattern>
            <url-pattern>/ImportPropertyOfATestCaseToAnOtherTestCase</url-pattern>
            <url-pattern>/CreateNotDefinedProperty</url-pattern>
            <url-pattern>/DeleteTestData</url-pattern>
            <url-pattern>/UpdateTestData</url-pattern>
            <url-pattern>/FindAllTestData</url-pattern>
            <url-pattern>/ReadTestDataLib</url-pattern>
            <url-pattern>/ReadTestDataLibData</url-pattern>
            <url-pattern>/ReadSqlLibrary</url-pattern>
            <url-pattern>/PictureConnector</url-pattern>
            <url-pattern>/UseTestCaseStep</url-pattern>
            <url-pattern>/UpdateTestCaseWithDependencies</url-pattern>
            <url-pattern>/UpdateTestCaseProperties</url-pattern>
            <url-pattern>/Thumbnailer</url-pattern>
            <url-pattern>/SaveTestCaseLabel</url-pattern>
            <url-pattern>/ReadTestCaseLabel</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Test</description>
            <role-name>Test</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Label</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description/>
            <url-pattern>/Label.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/CreateLabel</url-pattern>
            <url-pattern>/UpdateLabel</url-pattern>
            <url-pattern>/DeleteLabel</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Label</description>
            <role-name>Label</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>AS</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description/>
            <url-pattern>/ReportingAutomateScore.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/CreateLabel</url-pattern>
            <url-pattern>/UpdateLabel</url-pattern>
            <url-pattern>/DeleteLabel</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>AS</description>
            <role-name>AS</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>TestStepLibrary</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description/>
            <url-pattern>/ZZZ</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>TestStepLibrary</description>
            <role-name>TestStepLibrary</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>TestAdmin</display-name>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/CreateTest</url-pattern>
            <url-pattern>/DeleteTest</url-pattern>
            <url-pattern>/UpdateTest</url-pattern>
            <url-pattern>/DeleteTestCase</url-pattern>
            <url-pattern>/DeleteTestCaseFromTestPage</url-pattern>
            <url-pattern>/CreateSqlLibrary</url-pattern>
            <url-pattern>/DeleteSqlLibrary</url-pattern>
            <url-pattern>/UpdateSqlLibrary</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>TestAdmin</description>
            <role-name>TestAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>RunTest</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description>jsp</description>
            <url-pattern>/RunTests.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/findEnvironmentByCriteria</url-pattern>
            <url-pattern>/UpdateTestCaseExecution</url-pattern>
            <url-pattern>/RunExecutionInQueue</url-pattern>
            <url-pattern>/SetTagToExecution</url-pattern>
            <url-pattern>/GetExecutionQueue</url-pattern>
            <url-pattern>/UpdateTestCaseExecutionQueue</url-pattern>
            <url-pattern>/ReadTestCaseExecutionQueue</url-pattern>
            <url-pattern>/CreateTestCaseExecutionQueue</url-pattern>
            <url-pattern>/CreateUpdateTestCaseExecutionFile</url-pattern>
            <url-pattern>/DeleteTestCaseExecutionFile</url-pattern>
            <url-pattern>/ReadCampaign</url-pattern>
            <url-pattern>/ReadCampaignParameter</url-pattern>
            <url-pattern>/GetCampaign</url-pattern>
            <url-pattern>/UpdateCampaign</url-pattern>
            <url-pattern>/CreateCampaign</url-pattern>
            <url-pattern>/DeleteCampaign</url-pattern>
            <url-pattern>/CreateScheduleEntry</url-pattern>
            <url-pattern>/ReadScheduleEntry</url-pattern>
            <url-pattern>/UpdateScheduleEntry</url-pattern>
            <url-pattern>/DeleteScheduleEntry</url-pattern>
            <url-pattern>/AddToExecutionQueuePrivate</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>RunTest</description>
            <role-name>RunTest</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>TestDataManager</display-name>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/CreateTestDataLib</url-pattern>
            <url-pattern>/DuplicateTestDataLib</url-pattern>
            <url-pattern>/ImportTestDataLib</url-pattern>
            <url-pattern>/DeleteTestDataLib</url-pattern>
            <url-pattern>/UpdateTestDataLibData</url-pattern>
            <url-pattern>/UpdateTestDataLib</url-pattern>
            <url-pattern>/BulkRenameDataLib</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>TestDataManager</description>
            <role-name>TestDataManager</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>IntegratorRO</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description>jsp</description>
            <url-pattern>/ApplicationList.jsp</url-pattern>
            <url-pattern>/AppServiceList.jsp</url-pattern>
            <url-pattern>/ApplicationObjectList.jsp</url-pattern>
            <url-pattern>/BuildContent.jsp</url-pattern>
            <url-pattern>/BuildRevDefinition.jsp</url-pattern>
            <url-pattern>/Environment.jsp</url-pattern>
            <url-pattern>/IntegrationStatus.jsp</url-pattern>
            <url-pattern>/Project.jsp</url-pattern>
            <url-pattern>/DeployType.jsp</url-pattern>
            <url-pattern>/BatchInvariant.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/GetShortTests</url-pattern>
            <url-pattern>/GetInvariantsForTest</url-pattern>
            <url-pattern>/GetEnvironmentAvailable</url-pattern>
            <url-pattern>/FindBuildContent</url-pattern>
            <url-pattern>/FindCountryEnvironmentDatabase</url-pattern>
            <url-pattern>/GetCountryEnvParamList</url-pattern>
            <url-pattern>/GetCountryEnvironmentParameterList</url-pattern>
            <url-pattern>/FindEnvironments</url-pattern>
            <url-pattern>/ReadDeployType</url-pattern>
            <url-pattern>/GetNotification</url-pattern>
            <url-pattern>/ReadBuildRevisionParameters</url-pattern>
            <url-pattern>/ReadCountryEnvParam_log</url-pattern>
            <url-pattern>/ReadBuildRevisionBatch</url-pattern>
            <url-pattern>/ReadBatchInvariant</url-pattern>
            <url-pattern>/ReadCountryEnvDeployType</url-pattern>
            <url-pattern>/ReadCountryEnvironmentDatabase</url-pattern>
            <url-pattern>/ReadCountryEnvironmentParameters</url-pattern>
            <url-pattern>/ReadCountryEnvLink</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>IntegratorRO</description>
            <role-name>IntegratorRO</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Integrator</display-name>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/CreateApplication</url-pattern>
            <url-pattern>/UpdateApplication</url-pattern>
            <url-pattern>/CreateApplicationObject</url-pattern>
            <url-pattern>/UpdateApplicationObject</url-pattern>
            <url-pattern>/DeleteApplicationObject</url-pattern>
            <url-pattern>/UpdateCountryEnv</url-pattern>
            <url-pattern>/CreateProject</url-pattern>
            <url-pattern>/DeleteProject</url-pattern>
            <url-pattern>/UpdateProject</url-pattern>
            <url-pattern>/CreateBuildRevisionInvariant</url-pattern>
            <url-pattern>/UpdateBuildRevisionInvariant</url-pattern>
            <url-pattern>/DeleteBuildRevisionInvariant</url-pattern>
            <url-pattern>/CreateRobot</url-pattern>
            <url-pattern>/UpdateRobot</url-pattern>
            <url-pattern>/DeleteRobot</url-pattern>
            <url-pattern>/CreateCountryEnvParam</url-pattern>
            <url-pattern>/UpdateCountryEnvParam</url-pattern>
            <url-pattern>/DeleteCountryEnvParam</url-pattern>
            <url-pattern>/CreateCountryEnvironmentParameter</url-pattern>
            <url-pattern>/UpdateCountryEnvironmentParameter</url-pattern>
            <url-pattern>/DeleteCountryEnvironmentParameter</url-pattern>
            <url-pattern>/CreateCountryEnvironmentDatabase</url-pattern>
            <url-pattern>/UpdateCountryEnvironmentDatabase</url-pattern>
            <url-pattern>/DeleteCountryEnvironmentDatabase</url-pattern>
            <url-pattern>/CreateDeployType</url-pattern>
            <url-pattern>/UpdateDeployType</url-pattern>
            <url-pattern>/DeleteDeployType</url-pattern>
            <url-pattern>/CreateBuildRevisionParameters</url-pattern>
            <url-pattern>/UpdateBuildRevisionParameters</url-pattern>
            <url-pattern>/DeleteBuildRevisionParameters</url-pattern>
            <url-pattern>/CreateBatchInvariant</url-pattern>
            <url-pattern>/DeleteBatchInvariant</url-pattern>
            <url-pattern>/UpdateBatchInvariant</url-pattern>
            <url-pattern>/CreateAppService</url-pattern>
            <url-pattern>/DeleteAppService</url-pattern>
            <url-pattern>/UpdateAppService</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Integrator</description>
            <role-name>Integrator</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>IntegratorNewChain</display-name>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/NewChain</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>IntegratorNewChain</description>
            <role-name>IntegratorNewChain</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>IntegratorDeploy</display-name>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/DisableEnvironment</url-pattern>
            <url-pattern>/NewBuildRev</url-pattern>
            <url-pattern>/JenkinsDeploy</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>IntegratorDeploy</description>
            <role-name>IntegratorDeploy</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>Administrator</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description>jsp</description>
            <url-pattern>/LogEvent.jsp</url-pattern>
            <url-pattern>/ParameterList.jsp</url-pattern>
            <url-pattern>/UserManager.jsp</url-pattern>
            <url-pattern>/EventHookList.jsp</url-pattern>
            <url-pattern>/InvariantList.jsp</url-pattern>
            <url-pattern>/CerberusInformation.jsp</url-pattern>
            <url-pattern>/Prompt.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/ReadUser</url-pattern>
            <url-pattern>/GetParameter</url-pattern>
            <url-pattern>/UpdateParameter</url-pattern>
            <url-pattern>/GetUsers</url-pattern>
            <url-pattern>/CreateUser</url-pattern>
            <url-pattern>/UpdateUser</url-pattern>
            <url-pattern>/DeleteUser</url-pattern>
            <url-pattern>/ReadLogEvent</url-pattern>
            <url-pattern>/CreateInvariant</url-pattern>
            <url-pattern>/UpdateInvariant</url-pattern>
            <url-pattern>/DeleteInvariant</url-pattern>
            <url-pattern>/CreateEventHook</url-pattern>
            <url-pattern>/UpdateEventHook</url-pattern>
            <url-pattern>/DeleteEventHook</url-pattern>
            <url-pattern>/DeleteApplication</url-pattern>
            <url-pattern>/ReadCerberusDetailInformation</url-pattern>
            <url-pattern>/ChangeUserPasswordAdmin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Administrator</description>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>NONE</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description>jsp</description>
            <url-pattern>/DatabaseMaintenance.jsp</url-pattern>
            <url-pattern>/Documentation.jsp</url-pattern>
            <url-pattern>/Login.jsp</url-pattern>
            <url-pattern>/Logout.jsp</url-pattern>
            <url-pattern>/Error.jsp</url-pattern>
            <url-pattern>/index1.jsp</url-pattern>
            <url-pattern>/index2.jsp</url-pattern>
            <url-pattern>/index3.jsp</url-pattern>
            <url-pattern>/index4.jsp</url-pattern>
            <url-pattern>/ChangePassword.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <!--            Public Servlets -->
            <url-pattern>/RunTestCase</url-pattern>
            <url-pattern>/RunTestCaseV001</url-pattern>
            <url-pattern>/GetNumberOfExecutions</url-pattern>
            <url-pattern>/ResultCI</url-pattern>
            <url-pattern>/ResultCIV001</url-pattern>
            <url-pattern>/ResultCIV002</url-pattern>
            <url-pattern>/ResultCIV003</url-pattern>
            <url-pattern>/ResultCIV004</url-pattern>
            <url-pattern>/NewRelease</url-pattern>
            <url-pattern>/AddToExecutionQueue</url-pattern>
            <url-pattern>/AddToExecutionQueueV001</url-pattern>
            <url-pattern>/AddToExecutionQueueV002</url-pattern>
            <url-pattern>/AddToExecutionQueueV003</url-pattern>
            <url-pattern>/NewBuildRevisionV000</url-pattern>
            <url-pattern>/DisableEnvironmentV000</url-pattern>
            <url-pattern>/NewEnvironmentEventV000</url-pattern>
            <url-pattern>/GetTagExecutions</url-pattern>
            <url-pattern>/GetTestCasesV001</url-pattern>
            <url-pattern>/ManageV001</url-pattern>
            <!--            Password Management Servlets -->
            <url-pattern>/ForgotPassword</url-pattern>
            <url-pattern>/ForgotPasswordEmailConfirmation</url-pattern>
            <url-pattern>/ChangeUserPassword</url-pattern>
            <!--            Ressources used during TestExecution Servlets -->
            <url-pattern>/ReadApplicationObjectImage</url-pattern>
            <!--            Dummy Servlets -->
            <url-pattern>/DummyRESTCall</url-pattern>
            <url-pattern>/DummyRESTCallEmpty</url-pattern>
        </web-resource-collection>
    </security-constraint>
    
    <security-constraint>
        <display-name>ANY</display-name>
        <web-resource-collection>
            <web-resource-name>jsp</web-resource-name>
            <description>jsp</description>
            <url-pattern>/Homepage.jsp</url-pattern>
            <url-pattern>/ImpactAnalysis.jsp</url-pattern>
            <url-pattern>/RobotList.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>servlet</web-resource-name>
            <description>servlet</description>
            <url-pattern>/Homepage</url-pattern>
            <url-pattern>/ReadMyUser</url-pattern>
            <url-pattern>/ReadExecutionTagHistory</url-pattern>
            <url-pattern>/GetInvariantList</url-pattern>
            <url-pattern>/ReadCerberusInformation</url-pattern>
            <url-pattern>/GeneratePerformanceString</url-pattern>
            <url-pattern>/UpdateMyUser</url-pattern>
            <url-pattern>/UpdateMyUserSystem</url-pattern>
            <url-pattern>/UpdateMyUserReporting</url-pattern>
            <url-pattern>/UpdateMyUserReporting1</url-pattern>
            <url-pattern>/UpdateMyUserRobotPreference</url-pattern>
            <url-pattern>/ReadUserPublic</url-pattern>
            <url-pattern>/FindInvariantByID</url-pattern>
            <url-pattern>/ImportTestCaseFromJson</url-pattern>
            <url-pattern>/ReadApplication</url-pattern>
            <url-pattern>/ReadApplicationObject</url-pattern>
            <url-pattern>/ReadBuildRevisionInvariant</url-pattern>
            <url-pattern>/ReadProject</url-pattern>
            <url-pattern>/ReadRobot</url-pattern>
            <url-pattern>/ReadCountryEnvParam</url-pattern>
            <url-pattern>/GetTestBySystem</url-pattern>
            <url-pattern>/GetTestCaseForTest</url-pattern>
            <url-pattern>/GetEnvironmentsPerBuildRevision</url-pattern>
            <url-pattern>/GetEnvironmentsLastChangePerCountry</url-pattern>
            <url-pattern>/ReadAppService</url-pattern>
            <url-pattern>/ReadInvariant</url-pattern>
            <url-pattern>/ReadTestCaseExecution</url-pattern>
            <url-pattern>/ReadTag</url-pattern>
            <url-pattern>/ReadParameter</url-pattern>
            <url-pattern>/GetExecutionsInQueue</url-pattern>
            <url-pattern>/ReadDocumentation</url-pattern>
            <url-pattern>/ReadLabel</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>TestRO</role-name>
            <role-name>Test</role-name>
            <role-name>TestAdmin</role-name>
            <role-name>RunTest</role-name>
            <role-name>TestDataManager</role-name>
            <role-name>IntegratorRO</role-name>
            <role-name>Integrator</role-name>
            <role-name>IntegratorNewChain</role-name>
            <role-name>IntegratorDeploy</role-name>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/Login.jsp?error=1</form-error-page>
        </form-login-config>
    </login-config>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j2.properties</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>
