/**crb_style.css
* - Page (body / a / input / textarea)
* - Table >> (TODO Refactor)
* - Header
* - Login
* - Button
* - Various Execution status code.
* - Documentation >> crb_style_doc.css
* - x-editor customisation
*/
body {
    font-size: 12px;
    font-family: helvetica;
}
/*div{
    border-style:solid;
    border-width:thin;
}*/
input{
    font-size:80%;
}
pre{
    font-size:110%;
    font-family: helvetica;
}
.buttonAddStep{
    height:20px;
    font-weight:bold;
    font-family: Trebuchet MS;
    border-color:orange;
    border-width:1px;
    border-style:solid;
    background-color:white;
    color:orange;
    text-align: center;
    border-radius: 5px;

}
.buttonSaveChanges{
    height:20px;
    font-weight:bold;
    font-family: Trebuchet MS;
    border-color:#333333;
    border-width:1px;
    border-style:solid;
    background-color:white;
    color:#333333;
    text-align: center;
    border-radius: 5px;

}
select {
    font-size:90%;
}

select[multiple] {
    height: auto;
}

a {
    color: #008CDA;
    text-decoration: none;
}

.btnActive {
    margin-left: 10px;
}

.delete {
    color: #D9534F;
    cursor: pointer;
    margin-right: 5px;
}

.modal-admin {
    max-width: 90%;
}

.panel-heading {
    font-size: 14px;
}

.card {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.color-box {   
    float: left;
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.toggle {
    cursor: pointer;
    color: #008CDA; 
}

.nodoc{
    color:#FF0000;
}

a img {
    border: 0;
}
textarea{
    font-size: 90%;
    font-family: helvetica;
}
* {
    margin: 0;
}
.underlinedDiv{
    border-bottom-color:#555555;
    border-bottom-style:double;
}
.selectRobot{
    color : gray;
}
.selectRobotSelected{
    color : black;
}
.font_weight_bold_Y{
    font-weight : bold;
}
.font_weight_bold_N{
    font-weight : lighter;
}
/* Fields without border (TODO Refactor)*/
td#wob {
    border-width:0px;
}
select#wob { 
    border-width:0px;
}
textarea#wob { 
    border-width:0px;
}
input#wob { 
    border-width:0px;
}
.wob { 
    border-width:0px;
}
/**Title of the parts in pages*/
.dttTitle{
    font-weight:bold;
    font-family: Trebuchet MS;
    color:#555555;
    font-size:14px;
}

/** */
.filters{
    background-image: -moz-linear-gradient(top, #ebebeb, #CCCCCC); 
    background-image: -webkit-linear-gradient(top, #ebebeb, #CCCCCC); 
    font-weight:bold;
    font-family: Trebuchet MS;
    color:#555555;
    text-align: center;
}

.backDiv{
    background-image: -moz-linear-gradient(bottom, #ebebeb, #f8f8f8); 
    background-image: -webkit-linear-gradient(bottom, #ebebeb, #f8f8f8); 
    font-weight:bold;
    font-family: Trebuchet MS;
    color:#555555;
    text-align: center;
}

div#header {
    font-style: italic;
    font-weight: bold;
    border-bottom: solid 1px;
    font-size: large;
}

.tableHeader{
    background-image: -moz-linear-gradient(bottom, #ebebeb, #f8f8f8); 
    background-image: -webkit-linear-gradient(bottom, #ebebeb, #f8f8f8); 
    font-weight:bold;
    font-family: Trebuchet MS;
    color:#555555;
    text-align: center;
}

.tableContent{
    background-color: white;
}

.tableBorder{
    background-color:#e1e7f3;
    border: solid;
    border-width: 2px;
    border-color: #8999c4;
    -moz-border-radius: 5px;
    width : 100%;
}

/** 2 - TABLE */
td#arrond {
    background-color:#cad3f1;
    border: solid;
    border-width: 2px;
    border-color: #8999c4;
    -moz-border-radius: 5px;

}
td#arrondgreen {
    background-color:#cad3f1;
    border: solid;
    border-width: 2px;
    border-color: green;
    -moz-border-radius: 5px;

}
td#arrondblue {
    background-color:#cad3f1;
    border: solid;
    border-width: 2px;
    border-color: #8999c4;
    -moz-border-radius: 5px;

}
td#arrondred {
    background-color:#cad3f1;
    border: solid;
    border-width: 2px;
    border-color: red;
    -moz-border-radius: 5px;

}

table#arrond {
    background-color:#f3f6fa;
    border: solid;
    border-width: 2px;
    border-color: #8999c4;
    -moz-border-radius: 5px;
    width : 1260px;
}
.arrond {
    background-color:#e1e7f3;
    border: solid;
    border-width: 2px;
    border-color: #8999c4;
    -moz-border-radius: 5px;
    width : 100%;
}
.contour {
    background-color:#e1e7f3;
    border: solid;
    border-width: 2px;
    border-color: #8999c4;
    -moz-border-radius: 5px;
}

.tableRowPair {
    background-color: #E2E4FF;
}

.tableRowImpair {
    background-color: white;
}

table#testcaseproperties_table {
    background-color:#F3F2F5;

}
tr#header {
    background-color:#cad3f1; 
    font-weight:bold;   

}
tr#tableheader {
    background-color:#cad3f1; 
    font-weight:bold; 
    text-align: center;

}
td#leftlined { 
    border-bottom-style: groove;
    border-bottom-color:black ;
    border-right: 0px;
    border-top: 0px;
    border-left-style: groove;
    border-left-color: #8999c4;
}
td#underlined { 
    border-bottom-style: groove;
    border-bottom-color:black ;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
}

.separation { 
    border-bottom-style: dashed;
    border-bottom-color:#8999c4 ;
    border-right: 0px;
    border-top: 0px;
    border-left:  0px;
    border-bottom-width: 1px;
}
h4 {
    font-size:100%;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
/*td { 
    border-width:1px;
    border-style:groove; 
    border-color:#ffffff #cfcfcf #cfcfcf #ffffff; 

}*/
/*th { 
    border-width:1px;
    border-style:groove; 
    border-color:#ffffff #cfcfcf #cfcfcf #ffffff; 

}*/
td#toto {
    border-width:1px;
    border-style:groove; 
    border-color:#ffffff #cfcfcf #cfcfcf #ffffff; 
}
#tableau {
    vertical-align: top; 
    border-style-inner:groove;
    border-spacing: 0px;
    border-width:thin;
}
table#tableau {
    vertical-align: top; 
    border-style-inner:groove;
    border-spacing: 0px;
    border-width:thin;
}
td#repsynthesis1 {
    vertical-align: top; 
    border-style-inner:groove;
    border-spacing: 0px;
    border-width:thin;
    border-bottom-color: #cfcfcf;
    border-left-color: #cfcfcf;
}
td#repsynthesis2 {
    vertical-align: top; 
    border-style-inner:groove;
    border-spacing: 0px;
    border-width:thin;
    border-bottom-color: #cfcfcf;
}
td#repsynthesis3 {
    vertical-align: top; 
    border-style-inner:groove;
    border-spacing: 0px;
    border-width:thin;
    border-bottom-color: #cfcfcf;
    border-right-color: #cfcfcf;
}
.arrondTable{
    text-align: left;
    border: 2px solid #8999C4;
    border-radius: 10px;
    width: 1260px;
}

.arrondTable tr{
    text-align: left;
    border-color: #FFFFFF #CFCFCF #CFCFCF #FFFFFF;
    border-style: groove;
    border-width: 1px;
}

.arrondTable tr th{
    background-color: #CAD3F1;
    font-weight: bold;
    font-style: italic;
}

.arrondTable tr.odd{
    background-color: lightgrey;
}

.arrondTable tr.even{
    background-color: #E1E7F3;
}


input#submitButtonDuplicate {   
    background-color: #cad3f1;  
    border-color:#DCDCDC #696969 #696969 #DCDCDC;       
}

/** 3 - HEADER */

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {
    min-height:28px !important;
}

#userInfo > p {
    display: inline-block;
    color: white;
}

.navbar-nav .dropdown-menu {
    background-color: #333333;
}

.dataTables_scrollHeadInner{
    width:100%!important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.navlist li {
    cursor: pointer;
}

.navlist li:hover {
    color: #FFFFFF;
    background-color: #3071A9;
}

.navlist li.selected { 
    color: #FFFFFF;
    background-color: #3071A9;
}

#subactive a {
    color: #9D9D9D;
}

#subactive a:hover {
    color: white;
    background-color: #222222;
}

.header-dropdown {
    color: white;
    background-color: #222222;
    max-height: 25px;
    margin-top: -2.5px;
    font-size: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #AAAAAA;
}

.navbar-inverse {
    border-color: #333;
}

/** End of HEADER */

/** 4 - LOGIN */

.login-box {
    width: 503px;
    height: 362px;
    padding: 58px 76px 0 76px;
    color: #ebebeb;
    font: 12px Arial, Helvetica, sans-serif;
    background: url(../images/login-box-backg.png) no-repeat left top;
    /*    box-sizing: initial;*/
}

.login-box img {
    border:none;
}

.login-box h2 {
    padding:0;
    margin:0;
    color: #ebebeb;
    font: bold 44px "Calibri", Arial;
}


.login-box-name {
    float: left;
    display:inline;
    width:80px;
    text-align: right;
    padding: 14px 10px 0 0;
    margin:0 0 7px 0;
}

.table{
    width:100%!important;
}

.login-box-error {
    float: left;
    display:inline;
    width:180px;
    color: red;
    text-align: right;
    padding: 0px 0px 0 0;
    margin:0 0 7px 0;
    font-weight: bold;
    text-align: center;
}

.login-box-field {
    float: left;
    display:inline;
    width:230px;
    margin:0;
    margin:0 0 7px 0;
}


.form-login  {
    width: 205px;
    padding: 10px 4px 6px 3px;
    border: 1px solid #0d2c52;
    background-color:#1e4f8a;
    font-size: 16px;
    color: #ebebeb;
}


.login-box-options  {
    clear:both;
    padding-left:87px;
    font-size: 11px;
}

.login-box-options a {
    color: #ebebeb;
    font-size: 11px;
}

.loginIcon{
    border-style: none;
    text-align: right;
    padding-right: 30px;
}

.loginIcon a{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.loginIcon p{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}

.logoutIcon{
    background-image: url("../images/logout.png");
}
/** END OF LOGIN */

/** 5 - BUTTON */
.button{
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
    border-radius: 4px;
}
.button:hover{
    background: url("images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
    border: 1px solid #999999;
    color: #212121;
    font-weight: normal;  
}
.button:disabled{
    background-image: none;
    opacity: 0.35;
}

.smallbutton{

    border-width: 1px;
    -moz-border-radius: 20px;
}

.smallbutton:hover{
    background-color: white; 
    border-width: 1px;
    border-color:#ccffcc #00ff00 #00ff00 #ccffcc;  
}
.buttonplus{
    background-image: url("../images/plus.png");

}
/** END OF BUTTON */

/* Various Execution status code. */

.OK {
    background-color:#00ff00; /* Green */
}
.OKF {
    color:green;
}
.KO {
    background-color:#FF0000; /* Red */
}
.KOF {
    color:darkred;
}
.NA {
    background-color:yellow ; /* Jaune */
}
.NAF {
    color:darkyellow;
}
.PE {
    background-color:#3366FF; /* Blue */
}
.PEF {
    color:darkblue;
}
.FA {
    background-color:mistyrose; /* Purple */
}
.FAF {
    color:purple;
}
.CA {
    background-color:mistyrose; /* Purple */
}
.CAF {
    color:purple;
}
.NE {
    background-color:black; /* Purple */
}
.NEF {
    color:white;
}
.NotExecuted {
    background-color:whitesmoke; /* White */
}
.NotExecutedF {
    text-decoration:none;
    color:lightgray;
}
.NOINF{
    background-color:#CFCFCF;
}
.NOINFF{
    color:#CFCFCF;
}


.NonRanYet {
    background-color:yellow;
    border-style: dashed;
}

.NotExist {
    border: none;
}

.UPPER {
    background-color:red;
}

.UP {
    background-color:orange;
}

.EQ {
    background-color:green;
}

.DO {
    background-color:yellowgreen;
}
.DOWN {
    background-color:lightgreen;
}
.INF{
    background-color:white;
}
/* Response time. */
.verylong {
    color:red;
    font-weight: bold;
}
.long {
    color:purple;
    font-weight: bold;
}

.notVisible {
    display: none;
}

.OKVisible,
.KOVisible,
.NAVisible,
.FAVisible,
.PEVisible {
    display: table-row;
}

.error-message {
    color: red;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.error-msg {
    color: #D9534F;
}

.sqlLib {
    display: inline-block;
    *display: inline;
    margin: 2px;
    padding: 2px;
    border: 1px solid lightgray;
    width: 130px;
    cursor: pointer;
}

#controlTable {
    width: 100%;
}

.wrapAll,
table.wrapAll td,
table.wrapAll th {
    white-space: pre-line;
    word-wrap: break-word; /*CSS3*/
    word-break: break-all;
}


/**
* x-editor customization
*/
.columnFiltered{
    color : red;
    font-size : 100%;
    padding-left: 0;
}
span.editable-empty,.editable-empty:hover,.editable-empty:focus {
    color: black;  
}

.editable-click, a.editable-click, a.editable-click:hover{
    border-bottom: none;
}


/**
*Specifc for Alert Message Button size
*/
.filterMessageButtons{
    font-size : 130%;  
}


/**
* Datatable th
*/
table.dataTable thead th {
    border-bottom-color: transparent;
    border-top-color: transparent !important;
    background-color: #E6E6E6 !important;
}

.dataTables_scroll {
    /*overflow: auto;
    clear: both;*/
    width: 100%;
    overflow: auto;
}


.editable-checklist {
    max-height: 350px;
    width: 120%;
    max-width: 500px;
    overflow: auto;
}

.list-label {
    height : 40px;
}

.colorpicker {
    z-index: 9999;
}

.tooltip {
    z-index: 1049 !important;
}

.node-mainTreeExeS {
    height : 75px;
}
.node-mainTreeExeR {
    height : 75px;
}


/* OK */

.panelOK {
    border-color: #5CB85C;
}
.fontOK {
    color: #5CB85C;
}
.panelOK .panel-heading {
    border-color: #5CB85C;
    color: #FFF;
    background-color: #5CB85C;
}
.statusOK {
    background-color: #5CB85C;
}

/* KO */

.panelKO {
    border-color: #D9534F;
}
.fontKO {
    color: #D9534F;
}
.panelKO .panel-heading {
    border-color: #D9534F;
    color: #FFF;
    background-color: #D9534F;
}
.statusKO {
    background-color: #D9534F; 
}

/* FA */

.panelFA {
    border-color: #F0AD4E;
}
.fontFA {
    color: #F0AD4E;
}
.panelFA .panel-heading {
    border-color: #F0AD4E;
    color: #FFF;
    background-color: #F0AD4E;
}
.statusFA {
    background-color: #F0AD4E; 
}

/* CA */

.panelCA {
    border-color: #F0AD4E;
}
.fontCA {
    color: #F0AD4E;
}
.panelCA .panel-heading {
    border-color: #F0AD4E;
    color: #FFF;
    background-color: #F0AD4E;
}
.statusCA {
    background-color: #F0AD4E; 
}

/* NA */

.panelNA {
    border-color: #F1C40F;
}
.fontNA {
    color: #F1C40F;
}
.panelNA .panel-heading {
    border-color: #F1C40F;
    color: #FFF;
    background-color: #F1C40F;
}
.statusNA {
    background-color: #F1C40F; 
}

/* NE */

.panelNE {
    border-color: #aaa;
}
.fontNE {
    color: #aaa;
}
.panelNE .panel-heading {
    border-color: #aaa;
    color: #FFF;
    background-color: #aaa;
}
.statusNE {
    background-color: #aaa; 
}

/* WE */

.panelWE {
    border-color: #34495E;
}
.fontWE {
    color: #34495E;
}
.panelWE .panel-heading {
    border-color: #34495E;
    color: #FFF;
    background-color: #34495E;
}
.statusWE {
    background-color: #34495E; 
}

/* PE */

.panelPE {
    border-color: #3498DB;
}
.fontPE {
    color: #3498DB;
}
.panelPE .panel-heading {
    border-color: #3498DB;
    color: #FFF;
    background-color: #3498DB;
}
.statusPE {
    background-color: #3498DB; 
}

/* QU */

.panelQU {
    border-color: #BF00BF;
}
.fontQU {
    color: #BF00BF;
}
.panelQU .panel-heading {
    border-color: #BF00BF;
    color: #FFF;
    background-color: #BF00BF;
}
.statusQU {
    background-color: #BF00BF; 
}

/* QE */

.panelQE {
    border-color: #5C025C;
}
.fontQE {
    color: #5C025C;
}
.panelQE .panel-heading {
    border-color: #5C025C;
    color: #FFF;
    background-color: #5C025C;
}
.statusQE {
    background-color: #5C025C; 
}

.statusBLACK {
    background-color: black; 
}

/* HIDDEN FEATURES */

.hiddenFeature-secondary-property{
    display:none !important;
}
