# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Deploy on QA

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Maven
      run: |
        cd source
        mvn -Dcerberus.demo.qa.username=${{secrets.CERBERUS_QA_DEMO_USERNAME}} -Dcerberus.demo.qa.password=${{secrets.CERBERUS_QA_DEMO_P}} clean deploy -Pqa-demo-deploy --file pom.xml 

